@import url("https://fonts.googleapis.com/css?family=Lato|Sedgwick+Ave+Display");

:root {
  --font-display: "Sedgwick Ave Display";
  --font-sans-serif: "Lato";
  --box-shadow: 0px 21px 32px 0px rgba(8, 40, 34, 0.89);
  --color-bg: #0d3029;
  --grad-bright: linear-gradient(-55deg, #8fc2c9 0%, #bee0e5 100%);
  --grad-dark: linear-gradient(-55deg, #248391 0%, #8fc2c9 100%);
  --fig-width: 380px;
  --fig-height: 255px;
  --delay-base: 500ms;
  --delay-added: 100ms;
  --acc-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 2px 34px;
  box-shadow: var(--box-shadow);
  transform: skewY(1deg);
  animation: popImg 700ms var(--acc-back) 1 forwards;
  animation-delay: var(--delay-base);
}
.bird1 {
  margin-right: 200px;
}
@keyframes popImg {
  0% {
    transform: skewY(5deg) scaleX(0.89) scaleY(0.89deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fig {
  position: relative;
  width: var(--fig-width);
  height: var(--fig-height);
  transition: transform 600ms var(--acc-back);
}
.fig:hover {
  transform: scale(1.05) skewY(-1deg);
}
.figcap {
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 600ms var(--acc-back), opacity 100ms ease-in;
}
.fig:hover .figcap {
  opacity: 0;
  transform: scale(0.91);
}
.figcap span {
  position: absolute;
  display: block;
  background: var(--grad-bright);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-sans-serif);
  transform: skewY(-13deg);
  text-shadow: var(--box-shadow);
  animation: popIn 600ms var(--acc-back) 1 forwards;
}
@keyframes popIn {
  0%,
  13% {
    transform: scaleX(0.89) scaleY(0.75);
    opacity: 0;
  }
  100% {
    transform: skewY(-13deg);
    opacity: 1;
  }
}
.figcap span:nth-of-type(1) {
  top: -44px;
  left: 44px;
  font-size: 21px;
  animation-delay: calc(var(--delay-base) + 1 * var(--delay-added));
}
.figcap span:nth-of-type(2) {
  top: -34px;
  left: -21px;
  font-size: 89px;
  font-family: var(--font-display);
  animation-delay: calc(var(--delay-base) + 2 * var(--delay-added));
}
.figcap span:nth-of-type(3) {
  bottom: -38px;
  right: -21px;
  font-size: 89px;
  font-family: var(--font-display);
  animation-delay: calc(var(--delay-base) + 3 * var(--delay-added));
}
.figcap span:nth-of-type(4) {
  bottom: -50px;
  right: -21px;
  font-size: 21px;
  animation-delay: calc(var(--delay-base) + 4 * var(--delay-added));
}

@media screen and (max-width: 500px) {
  body {
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }
  .bird1 {
    margin: 50px 0px 200px;
  }
  .fig {
    width: 80%;
  }
}